

 


@font-face {
font-family: 'anirm';
src: url('anirm.ttf');
font-style: normal;
}

@font-face {
font-family: 'partybusiness';
src: url('partybusiness.ttf');
font-style: normal;
}

@font-face {
font-family: 'tengwarc';
src: url('tengwarc.ttf');
font-style: normal;
}


h2  /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: 'anirm', Arial, serif;
    font-size: 2em;
}

/* NAVBAR
-------------------------------------------------- */


.navbar-fixed-top
{
    background-color: rgb(235,107,45);
    border-color: rgb(235,107,45);
    font-family: 'anirm', Arial, serif;
}

.navbar-nav a {
    color: white !important;
}

li 
{
  color: white;
}

nav ul li:hover 
{
  text-decoration: underline;
}

/* CAROUSEL
-------------------------------------------------- */

.carousel {
  width: 100vw;

}

/* le texte au centre */

.carousel-caption {
  bottom: 30%;
  font-family: 'partybusiness', Arial, serif;
  font-size: 3em;

}

.carousel .item {
  height: 50vw;
  background-color: white;
}

.carousel-inner > .item > img {
  position: absolute;
  width: 100vw;
}


/* PILLS
-------------------------------------------------- */

.nav-link 
{
 color: rgba(211,211,211,40);
 margin: 5em;
font-weight: bold;
font-family: 'anirm', Arial, serif;
}


.symbol-nav
{
text-decoration: underline;
}


.nav-link > a:hover,.nav-pills > li > a:hover 
{
border-bottom-width: 4px;
border-bottom-style: solid;
color: #ff5f01;
background: white;
}

/* VIGNETTE
-------------------------------------------------- */



span  
{
  color: #FF8C00;  

}


.fellow
{
  text-align: center;

}


/* Les vignettes */

.thumbnail
{

width: 90%;
height: 90%;
margin: 0;
padding: 0;
background-color: black !important;
}


/* Image de la vignette */

.thumbnail img
{
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 z-index:1;
 transition: .6s ease;
 opacity: .5; 
 border: 5px solid black;


}


/* Reward : encadré blanc aux bords arrondis*/
.reward  
{
  position: absolute; 
  width:300px;
  height:100px;
  left: 50px;
  top: 20px;
  right: 50px;  
  padding: 0;   
  border-radius: 5px;  
  background-color:rgba(255, 255, 255, 0.7);
  transition: .5s ease;
  z-index:2;

}


/* txt dans l'encadré blanc */
.reward p 
{
  font-size: 2em; 
  color: black;
  margin: 10px 50px 20px 40px;
  z-index:3;
  object-position: center;
  font-family: 'partybusiness', Arial, serif;
}

/* Gandalf */

.surname 
{   
  font-size: 3em;
  color: white; 
  position: absolute; 
  left: 130px;
  top: 200px;
  right: 10px;  
  padding: 0;    
  z-index:4;
  font-family: 'partybusiness', Arial, serif;
}




/* Les encadrés noirs */


.caption
{  
  background-color: black;

}



/* Le texte des encadrés noirs */

.caption p 
{  
  color: grey;
  background-color: black;
  font-family: 'partybusiness', Arial, serif;
  font-size: 2em;

}

/* Opacité des vignettes */

.thumbnail img:hover {
    opacity: 1;
    transition: 2s;
}

.box:hover .reward {
    display: none;

}

.box:hover .surname {
   color: orange;
   font-size: 4em;
  left: 130px;
  top: 300px;
  right: 10px;  
  padding: 0;    

}



.dead
{
  font-family: 'anirm', Arial, serif;
  position: absolute; 
  color: orange; 
  padding-top: 40px;
  left:90px;
  font-size: 3em;
  margin: 10px 50px 20px 40px;
  }



